<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
<!--action-->
	
	<!-- Action -->  
    <bean name="/analysis"  
        class="com.scholers.account.action.AnalysisAction">  
    </bean>  
        <bean name="/inext"  
        class="com.scholers.account.action.InActionExt">  
    </bean>  
        <bean name="/payext"  
        class="com.scholers.account.action.PayActionExt">  
    </bean>  
        <bean name="/usersext"  
        class="com.scholers.account.action.UsersActionExt">  
    </bean>  
<!-- service -->
	<bean id="inService" class="com.scholers.account.business.impl.InService"/>
	<bean id="usersService" class="com.scholers.account.business.impl.UsersService"/>
	<bean id="payService" class="com.scholers.account.business.impl.PayService"/>
	<bean id="acountBusiness" class="com.scholers.account.business.impl.AcountBusiness"/>
</beans>